body {
  background-color: #fde2e2;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  color: #333;
}

.header {
  background-color: #ed989e;
  text-align: center;
  padding: 30px 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.header h1 {
  color: #fff;
  font-size: 32px;
  margin: 0;
}

.header-2 {
  background-color: #f7fafc;
  text-align: center;
  padding: 30px 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.header-2 h1{
  color: #b86469;
}

.favorites-page {
  padding: 40px 80px;
  min-height: 100vh;
  background-color: #f7fafc;
}

/* ===== Кнопка Назад ===== */
.back-link {
  margin-bottom: 25px;
}

.back-link a {
  color: #b86469;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  transition: 0.3s;
}

.back-link a:hover {
  text-decoration: underline;
}

/* ===== Сетка избранного ===== */
.favorites-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  margin-top: 10px;
}

.favorite-card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: 0.3s;
}

.favorite-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.favorite-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.favorite-card .content {
  padding: 20px;
}

.favorite-card h2 {
  color: #b86469;
  font-size: 22px;
  margin: 0 0 10px;
}

.favorite-card p {
  color: #555;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read {
  background: none;
  border: none;
  text-decoration: none;
  color: #b86469;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
  padding: 0;
}

.read:hover {
  text-decoration: underline;
}

.delete {
  background-color: #d66b6b;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 14px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.delete:hover {
  background-color: #b05252;
}

/* Планшеты (ширина 768px и меньше) */
@media (max-width: 768px) {

    /* * Сетку 'display: grid'
     * меняем на 2 колонки.
     */
    .favorites-grid, .favorites-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

/* Телефоны (ширина 480px и меньше) */
@media (max-width: 480px) {
    
    /* * На телефонах ставим 1 колонку.
     */
    .favorites-grid, .favorites-list {
        grid-template-columns: 1fr;
    }
}